.aboutme-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    padding: 70px 85px;
    top: 635px;
    padding: 150px 85px 150px 85px; 

}

.aboutme-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    
}
.aboutme-content h1 {
    font-family: Roboto, sans-serif;
    font-size: 32px;
}

.aboutme-content p {
    font-family: Roboto, sans-serif;
    font-size: 21px;
    color: #4A4A4A;
    margin-top: 20px;
    letter-spacing: 0.2px;

}

.aboutme-container img {
    width: 580px;
    height: 550px;
    border-radius: 50%;
}