.aboutme-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    padding: 70px 85px;
    top: 635px;
    padding: 150px 85px 150px 85px; 

}

.aboutme-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    
}
.aboutme-content h1 {
    font-family: Roboto, sans-serif;
    font-size: 32px;
}

.aboutme-content p {
    font-family: Roboto, sans-serif;
    font-size: 21px;
    color: #4A4A4A;
    margin-top: 20px;
    letter-spacing: 0.2px;

}

.aboutme-container img {
    width: 500px;
    height: 550px;
    border-radius: 50%;
}

@media (max-width: 1199px) { /* Tablet */
    .aboutme-container {
        flex-direction: column;
        align-items: center;
        padding: 100px 50px;
    }
    .aboutme-content h1, .aboutme-content p {
        flex-direction: row;
        text-align: center; 
        width: 100%;
    }
    .aboutme-content p {
        font-size: 18px;
    
    }

    #mobile-delete {
        display: none; 
    }
}

@media (max-width: 768px) { /* Mobile */
    .aboutme-container img {
        width: 90%; 
        height: auto; 
    }

    #mobile-delete {
        display: none; 
    }
}
