.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 20;
    box-shadow: 0 5px 80px 0 #0000001a;
    top: 0;
}
.navbar-image {
    margin-left: -100px;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
}
.link-button {
    padding: 20px;
}

.link-button.focused {
    color: #065f40;
}


.contact-button {
    text-decoration: none;
    color: black;
    background-color: #f9f9f9;
    border: 1px solid #065f40;
    border-radius: 5px;
    padding: 14px 32px;
    font-size: 16px;
    letter-spacing: 0.2px;
    margin-right: -100px;
}

.contact-button:hover {
    text-decoration: none;
    background-color: #065f40;
    color: white;
    transition-behavior: normal;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: background-color
}


@media (max-width: 1199px) { /* Tablet and below */
    .navbar-links {
        display: none;
    }
    .navbar-image {
        width: 25%;
    }
    .contact-button {
        display: none;
    }
}

@media (max-width: 768px) { /* Mobile */
    .navbar-links {
        display: none;
        flex-flow: column nowrap;
        position: fixed;
        top: 0;
        right: 0;
        height: 50vh;
        width: 300px;
        background-color: #FFFFFF;
        padding-top: 1.5rem;
    }
    .navbar-image {
        width: 25%;
    }
    .contact-button {
        display: none;
        
    }
}
